<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="/scripts/libs_jquery_3.2.1_jquery.js" defer="defer"></script>
	<script src="/scripts/ToDoRepository.js" defer="defer"></script>
	<script src="/scripts/item.js" defer="defer"></script>
	<script src="/scripts/toDoList.js" defer="defer"></script>
	<script src="/scripts/label.js" defer="defer"></script>
	<script src="/scripts/LabelForAllLabelsList.js" defer="defer"></script>
	<script src="/scripts/LabelsForAddLabelToItem.js" defer="defer"></script>
	<script src="/scripts/LabelForLabelsListInItemFooter.js" defer="defer"></script>
	<script src="/scripts/toDoLabels.js" defer="defer"></script>
	<script src="/scripts/main.js" defer="defer"></script>
</head>

<body>
	<div class="container">
	
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>    
		
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Labels
						</button>
						<div class="dropdown-menu to-do-labels" aria-labelledby="dropdownMenuButton">
							<!--<a class="dropdown-item" href="#">Action</a>-->
						</div>
					</div>
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					<div class="container to-do-list">

					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>