<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head lang="en">
    <meta charset="UTF-8" />
    <title>ToDoList</title>
    <link rel="stylesheet" type="text/css" href="templates/stylesheet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <script src="templates/scripts/libs_jquery_3.2.1_jquery.js" defer="defer"></script>
    <script src="templates/scripts/ToDoRepository.js" defer="defer"></script>
    <script src="templates/scripts/item.js" defer="defer"></script>
    <script src="templates/scripts/toDoList.js" defer="defer"></script>
    <script src="templates/scripts/main.js" defer="defer"></script>
  </head>
  <body>
    <header>
      <h1>ToDoList MyWebApp</h1>
      <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
      </form>
    </header>

    <div class="container" id="to-do-list">

    </div>

  </body>
</html>
